{{#each items}}
    <div class="Row" data-id={{id}}>
        <div class="Cell"><p>{{name}}</p></div>
        <div class="Cell"><p>{{amount}}</p></div>
        <div class="Cell"><p>{{price}}</p></div>
    </div>
{{/each}}

<div class="total table-footer Row">
    <div class="Cell">Total:</div>
    <div class="Cell total-amount">{{total.amount}}</div>
    <div class="Cell total-price">{{total.price}}</div>
</div>
