<div class="Heading">
    {{#each properties}}
        <div class="Cell" data-field="{{this}}"><span class="sort-highestFirst">&#8593;</span>{{this}}<span class="sort-lowestFirst">&#8595;</span></div>
    {{/each}}
</div>

{{#each items}}
    <div class="Row" data-id={{id}}>
        <div class="Cell"><p>{{id}}</p></div>
        <div class="Cell"><p>{{name}}</p></div>
        <div class="Cell"><p>{{description}} </p></div>
        <div class="Cell"><img src={{image}}></div>
        <div class="Cell">
            <p>
                {{#ifEquals type "onsale"}}
                    <span class="old-price">{{oldprice}}</span>
                    <span class="sale-price">{{price}}</span>
                {{else}}
                    {{price}}
                {{/ifEquals}}
            </p>

        </div>
        <div class="Cell"><p>{{stock}}</p></div>
        <div class="Cell"><input class="amount" type="number" data-id={{id}}>
            <button class="addToCartBtn" data-id={{id}} disabled>Add</button>
        </div>
    </div>
{{/each}}
